{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/events.css' %}">
{% endblock %}

{% block content %}
    <section id="event-section">
        <h1 id="event-title">Discover Events Near You</h1>

        <form method="get" action="{% url 'fetch_events' %}" id="event-search-form">
            <label for="city" class="form-label">City:</label>
            <input type="text" id="city" name="city" placeholder="Enter city name" class="input-field" value="{{ city }}">

            <label for="venue" class="form-label">Venue:</label>
            <input type="text" id="venue" name="venue" placeholder="Enter venue name" class="input-field" value="{{ venue }}">

            <button type="submit" class="search-button">Search</button>
        </form>

        <div class="text-center">
            <button onclick="toggleSort()" class="sort-button">
                Sort by 
                {% if sorting == 'popularity' %} Date {% else %} Popularity {% endif %}
            </button>
        </div>

        <ul id="event-list">
            {% for event in events %}
                <li class="event-item">
                    <h2 class="event-name">{{ event.name }}</h2>
                    <p class="event-datetime">📅 {{ event.date }} | 🕒 {{ event.time }}</p>
                    <p class="event-venue">📍 {{ event.venue }}</p>

                    <!-- Detailed View -->
                    <div class="details">
                        {% if event.price %}
                            <p class="event-price">💲 Price: £{{ event.price }}</p>
                        {% endif %}
                        {% if event.image %}
                            <img src="{{ event.image }}" alt="Event Image" class="event-image">
                        {% endif %}
                        {% if event.url %}
                            <p class="event-link"><a href="{{ event.url }}" target="_blank">More Info</a></p>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>

        {% if next_page %}
            <div class="text-center my-3">
                <a href="?city={{ city }}&venue={{ venue }}&page={{ next_page }}&sorting={{ sorting }}" class="pagination-link">Next Page</a>
            </div>
        {% endif %}
    </section>
{% endblock %}
