{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}ShowsEcho{% endblock %}</title>

  <!-- Link to main CSS file -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- Block for additional CSS -->
  {% block extra_css %}{% endblock %}
</head>
<body>

  <!-- Navbar -->
  <div class="navbar">
    <div class="container flex">
      <h1><a href="{% url 'home' %}" class="logo">ShowsEcho</a></h1>
      <nav>
        <ul>
          <li><a href="{% url 'events_list' %}">Events</a></li>
          <li><a href="{% url 'new_events' %}">Latest</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- Confirmation Messages -->
  {% if messages %}
    <div>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
  {% endif %}

  {% block content %}{% endblock %}

  <!-- Footer -->
  <footer class="footer bg-dark py-5">
    <div class="container grid grid-3">
      <div>
        <h1><a href="{% url 'home' %}">ShowsEcho</a></h1>
        <p>&copy; <script>document.write(new Date().getFullYear());</script> ShowsEcho - All Rights Reserved</p>
      </div>
      <nav>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'events_list' %}">Events</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </nav>
      <div class="social">
        <a href="#"><i class="fab fa-github fa-2x"></i></a>
        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
      </div>
    </div>
  </footer>

</body>
</html>
